---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import SectionAbout from '../components/SectionAbout.astro'
---

<BaseLayout>
	<div id="content">
		<Hero />
		<SectionAbout />
	</div>
</BaseLayout>

<style></style>
