<section>
	<div class="media-wrapper">
		<!-- add swiper.js -->
		<img class="" src="./assets/rien-bexkens-marwan-new.png" alt="" />
		<!-- <p>Photos by <a href="#">Marwan Magroun</a></p> -->
	</div>
	<div class="content">
		<div class="content-bio">
			<p class="lead">
				Rien Bexkens, also known as Rini Tortellini, is a versatile filmmaker specializing in
				directing fictional films, documentaries, music videos, commercials, and innovative
				crossovers. Working with a diverse clientele, including artists, brands, and individuals
				dedicated to positive change, Rien's personal projects tackle societal issues and shed light
				on the stories of underrepresented voices.
			</p>
			<p>
				With a keen eye for aesthetics and cinematography, Rien Bexkens excels as a director, often
				weaving visuals inspired by hip-hop and street culture into his work. Despite the bold
				imagery, his storytelling remains deeply human, capturing the authentic lives of his
				subjects. In contrast, his fictional productions draw influence from cult films, French New
				Wave, absurdism, and humor noir.
			</p>
			<p>
				Rien's interests span a broad spectrum, encompassing culture(s), travel, sports,
				entrepreneurship, and social engagement initiatives. Growing up, he experienced a sense of
				displacement, finding solace in street culture. Living in a multicultural city like
				Rotterdam exposed him to social deprivation and injustice, sparking a commitment to uncover
				overlooked realities. His privilege as a white male drives him to share his personal story
				and amplify the voices of those often unheard.
			</p>
		</div>
		<div class="details">
			<div class="contact">
				<h3 class="heading">Contact</h3>
				<ul>
					<li>
						<a href="mailto:shoot@rienbexkens.com" class="link">shoot@rienbexkens.com</a>
					</li>
					<li>
						<a href="tel://+31639639578" class="link">+31 (0) 6 39639578</a>
					</li>
				</ul>
			</div>
			<div class="office">
				<h3 class="heading">Office</h3>
				<ul>
					<li><a href="#" class="link">Westersingel 97</a></li>
					<li>3015 LC, Rotterdam</li>
					<li>The Netherlands</li>
				</ul>
			</div>
			<div class="social">
				<h3 class="heading">Social</h3>
				<ul>
					<li><a href="#" class="link">Vimeo</a></li>
					<li><a href="#" class="link">Instagram</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<style>
	section {
		display: grid;
		gap: var(--spacer-vw-gap);
		padding-bottom: 10vh;
	}
	section * {
		width: 100%;
	}
	.media-wrapper {
		background: var(--theme-text);
		position: sticky;
		align-self: start;
		top: var(--spacer-vw-padding);
		mix-blend-mode: var(--img-blend);
		height: calc(100vh - var(--spacer-vw-padding) - var(--spacer-vw-padding));
	}

	.media-wrapper img {
		mix-blend-mode: var(--img-overlay);
		object-fit: cover;
		height: 100%;
		/* aspect-ratio: 1/1; */
	}

	.media-wrapper::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--theme-text);
		mix-blend-mode: color;
		opacity: 1;
		z-index: 20;
	}

	.content {
		display: grid;
		grid-auto-rows: min-content;
		gap: var(--spacer-vw-gap);
		padding: 0 var(--spacer-vw-margin);
	}

	li,
	li a {
		font-size: var(--font-size-sm);
		font-weight: 500;
		text-decoration: none;
		line-height: 133%;
	}

	p.lead {
		font-size: var(--font-size-base);
		font-weight: 700;
		text-wrap: balance;
		letter-spacing: var(--ls-tight);
		line-height: 112.5%;
	}

	p {
		font-family: var(--font-body);
		margin-bottom: var(--spacer-vw-gap);
		font-size: var(--font-size-sm);
		font-weight: 500;
		line-height: 133%;
		text-wrap: balance;
	}

	.details {
		display: grid;
		grid-auto-rows: min-content;
		gap: calc(var(--spacer-vw-gap) / 2);
	}

	.heading {
		border-bottom: var(--border-width) solid var(--theme-text);
		padding: calc(var(--spacer-vw-gap) / 4) 0;
		margin-bottom: calc(var(--spacer-vw-gap) / 4);
	}

	@media (min-width: 768px) {
		section {
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin: 0 var(--spacer-vw-margin);
		}

		.media-wrapper {
			background: var(--theme-text);
			position: sticky;
			top: var(--spacer-vw-padding);
		}

		.media-wrapper img {
			mix-blend-mode: var(--media-blend);
			object-fit: cover;
			height: 100%;
		}
		.details {
			gap: calc(var(--spacer-vw-gap));
		}

		.content {
			padding: 0;
		}
	}
</style>
