---
// import the Image component and the image
import { Image } from 'astro:assets'
import myImage from '../assets/rien-bexkens-marwan-new.png'
---

<section>
	<div class="visual">
		<div class="media-wrapper">
			<!-- add swiper.js -->
			<Image
				src={myImage}
				widths={[320, 540, 720, myImage.width]}
				sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${myImage.width}px`}
				alt="Rien Bexkens by Marwan Magroun"
			/>

			<!-- <img class="" src="./assets/rien-bexkens-marwan-new.png" alt="Photo by Marwan Magroun" /> -->
		</div>
		<div class="credits">
			<div class="name">
				<p>
					Photo by <a
						href="https://www.instagram.com/marwanmagroun?ref=rienbexkens.com"
						target="_blank"
						alt="Rien Bexkens by Marwan Magroun">Marwan Magroun</a
					>.
				</p>
			</div>
			<div class="download">
				<p><a href="./assets/rien-bexkens-marwan-2024.jpg" target="_blank">download photo</a></p>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="content-bio">
			<p class="lead">
				Filmmaker Rien Bexkens, also known as Rini Tortellini, directs fictional films,
				documentaries, music videos, commercials and crossovers. His personal work strongly focuses
				on societal issues, cautionary tales and defending - or selling the underdog, anti-hero or
				peoples champion.
			</p>
			<p>
				As a director, Rien Bexkens has a strong eye for aesthetics and cinematography with imagery
				often biased towards hip-hop culture. Amidst these hard-to-miss visuals, his subjects remain
				surprisingly human and real; their lives respectfully followed. Nevertheless his fictional
				productions can also be influenced by cult, French New Wave, absurdism and/or humour noir.
			</p>
			<div class="accordion">
				<a id="hide1" href="#hide1" class="hide">Read More</a>
				<a id="show1" href="#show1" class="show">Hide</a>
				<p class="more">
					As subject matter, Rien Bexkens is broadly interested in (street-) culture, travel,
					sports, entrepreneurship and social engagement initiatives. Feeling displaced at times
					whilst growing up, he found brotherhood in street-culture and witnessed firsthand the
					social deprivation and injustice that accompanies many peoples realities within a
					multicultural city like Rotterdam, leading to a relentless drive to uncover overlooked
					realities and thereby also share his own personal story.
				</p>
			</div>
		</div>

		<div class="details">
			<div>
				<h3 class="heading">Work</h3>
				<ul>
					<li><a class="link" href="https://www.imdb.com/name/nm8576308/">IMDB</a></li>
					<li>
						<a class="link" href="https://vimeo.com/rinitortellini" target="blank">Vimeo</a>
					</li>
				</ul>
			</div>

			<div class="social">
				<h3 class="heading">Social</h3>
				<ul>
					<li><a class="link" href="https://www.instagram.com/rini_tortellini/">Instagram</a></li>
					<li>
						<a class="link" href="https://linkedin.com/in/rien-bexkens-18352748/">LinkedIn</a>
					</li>
				</ul>
			</div>
			<div>
				<h3 class="heading">Office & Studio</h3>
				<ul>
					<li>
						<a
							class="link"
							href="https://google.com/maps/dir/51.9238281,4.493274/Nieuwe+Binnenweg+23,+3014+GB+Rotterdam"
							target="blank">Nieuwe Binnenweg 23</a
						>
					</li>
					<li>3014 GB, Rotterdam</li>
					<li>The Netherlands</li>
				</ul>
			</div>
			<div class="contact">
				<h3 class="heading">Contact</h3>
				<ul>
					<li>
						<a href="mailto:shoot@rienbexkens.com" class="link">shoot@rienbexkens.com</a>
					</li>
					<li>
						<a href="tel://+31639639578" class="link">+31 (0)6 39639578</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<style>
		section {
			display: grid;
			gap: var(--spacer-vw-gap);
			padding-bottom: 10vh;
		}
		section * {
			width: 100%;
		}
		.visual {
			position: relative;
			overflow: hidden;
		}
		.media-wrapper {
			background: var(--theme-text);

			/* mix-blend-mode: var(--media-blend); */
			/* height: calc(100vh - var(--spacer-vw-padding) - var(--spacer-vw-padding)); */
			/* max-height: 60vh; */
			overflow: hidden;
		}

		.media-wrapper > img {
			mix-blend-mode: var(--img-mix-blend);
			aspect-ratio: 3/4;
			height: auto;
			/* mix-blend-mode: var(--img-mix-blend); */
			object-fit: cover;
		}

		.media-wrapper::after {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 1;
			z-index: -1;
			mix-blend-mode: var(--img-clr-mix);
			background: var(--theme-text);
			width: 100%;
			height: 100%;
			content: '';
		}

		.credits {
			display: flex;
			position: absolute;
			bottom: 0;
			left: 0;

			justify-content: space-between;
			align-items: baseline;
			gap: 1rem;
			margin: 0;

			background: var(--theme-bg);
			padding: 0.5rem var(--spacer-vw-margin);
			color: var(--clr-white;);

			/* display: none; */
		}

		.credits p,
		.credits a {
			margin: 0;

			padding: 0;
			font-size: var(--font-size-xs);
			line-height: 1;
			text-decoration: none;
		}

		.download {
			font-size: var(--font-size-xs);
			line-height: 1;
			text-align: right;
		}

		.content {
			display: grid;
			grid-auto-rows: min-content;
			gap: var(--spacer-vw-gap);
			padding: var(--spacer-vw-margin);
		}

		li,
		li a {
			font-weight: 600;
			font-size: var(--font-size-sm);
			line-height: 125%;
			text-decoration: none;
		}

		p.lead {
			font-weight: 700;
			font-size: var(--font-size-base);
			text-wrap: balance;
			line-height: 112.5%;
			letter-spacing: var(--ls-tight);
		}

		p {
			margin-bottom: var(--spacer-vw-gap);
			font-size: var(--font-size-sm);
			line-height: 120%;
			font-family: var(--font-body);
			letter-spacing: var(--ls-tight);
			text-wrap: balance;
		}

		.details {
			display: grid;
			grid-auto-rows: min-content;
			gap: calc(var(--spacer-vw-gap));
		}

		.heading {
			margin-bottom: calc(var(--spacer-vw-gap) / 4);
			border-bottom: var(--border-width) solid var(--theme-text);
			padding: calc(var(--spacer-vw-gap) / 4) 0;
			font-size: var(--font-size-sm);
			line-height: 125%;
		}

		.accordion {
			position: relative;
			transition: all 0.4s linear;
			padding-bottom: 1rem;
		}
		.show,
		.hide {
			position: absolute;
			bottom: 0;

			font-size: var(--font-size-xs);
		}

		.more,
		.show,
		.hide:target {
			display: none;
			height: 0;
		}
		.hide:target + .show,
		.hide:target ~ .more {
			display: block;
			height: auto;
		}

		@media (min-width: 767px) {
			section {
				display: grid;
				grid-template-columns: 1fr 1fr;
				margin: 0 var(--spacer-vw-margin);
			}
			.visual {
				position: sticky;
				top: var(--spacer-vw-padding);
				height: 100vh;
			}
			.media-wrapper {
				background: var(--theme-media);

				height: 100%;
			}

			.media-wrapper img {
				height: 100%;
				/* mix-blend-mode: var(--media-blend); */
				object-fit: cover;
			}

			.credits {
				padding: calc(0.25 * var(--spacer-vw-padding)) 0;
			}
			.details {
				gap: calc(var(--spacer-vw-gap));
			}

			.content {
				padding: 0;
			}

			li,
			li a {
				font-size: var(--font-size-sm);
			}

			p.lead {
				font-size: var(--font-size-base);
				line-height: 112.5%;
			}

			p {
				font-size: var(--font-size-sm);
				line-height: 112.5%;
			}
		}
	</style>
</section>
