<input id="color-mode" type="checkbox" class="sr-only" id="darkmode-toggle" name="color-mode" />

<label for="color-mode" class="color-mode toggle">
	<span class="dark-mode-hide">Dark Mode</span>
	<span class="light-mode-hide">Light Mode</span>
</label>

<style is:global>
	:root {
		--theme-bg: var(--clr-white);
		--theme-text: var(--clr-orange);
		--theme-hover: var(--clr-black);
		--theme-media: var(--clr-white);
		/* --media-blend: darken; */
		/* --img-mix-blend: screen; */
		/* --img-clr-overlay: var(--img-clr-overlay); */
		--img-clr-mix: color;
		--gradient-blend: var(--gradient-blend);
		--gradient-invert: var(--gradient-invert);
		--gradient: 255, 213, 97;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--theme-bg: var(--clr-black);
			--theme-text: var(--clr-orange);
			--theme-hover: var(--clr-white);
			--theme-media: var(--clr-orange);
			/* --media-blend: screen; */
			/* --img-mix-blend: var(--img-mix-blend); */
			/* --img-clr-overlay: var(--clr-black); */
			--img-clr-mix: color;
			--gradient-blend: multiply;
			--gradient-invert: none;
			--gradient: 57, 10, 87;
		}
	}

	#color-mode,
	label {
		position: fixed;
		z-index: 100;
	}

	#color-mode:checked ~ * {
		--theme-bg: var(--clr-black);
		--theme-text: var(--clr-orange);
		--theme-hover: var(--clr-white);
		--theme-media: var(--clr-white);

		--media-blend: screen;
		/* --img-mix-blend: var(--img-mix-blend); */
		/* --img-clr-overlay: var(--clr-black); */
		/* --img-clr-mix: color; */

		--gradient-blend: multiply;
		--gradient-invert: none;
		--gradient: 57, 10, 87;
	}

	@media (prefers-color-scheme: dark) {
		#color-mode:checked ~ * {
			--theme-bg: var(--clr-white);
			--theme-text: var(--clr-orange);
			--theme-hover: var(--clr-black);

			--media-blend: darken;
			/* --img-mix-blend: screen; */
			/* --img-clr-overlay: var(--clr-black); */
			/* --img-clr-mix: color; */

			--gradient: 0, 0, 0;
			--gradient-blend: screen;
			--gradient-invert: invert(100%);
		}
	}

	.light-mode-hide {
		display: none;
	}

	@media (prefers-color-scheme: dark) {
		.dark-mode-hide {
			display: none;
		}
	}

	@media (prefers-color-scheme: dark) {
		.light-mode-hide {
			display: initial;
		}
	}

	/* 
	input[type='checkbox']:focus + label {
		outline: 2px dashed var(--theme-text);
		outline-offset: 4px;
	}

	label:active {
		transform: translateY(1px);
		box-shadow:
			0 1px var(--theme-bg),
			0 3px var(--theme-text);
	} */

	/* label:after {
		content: '✔\FE0E';
		height: 0.5rem;
		width: 0.5rem;
		margin-left: 0.25rem;
		border: solid 2px var(--theme-bg);
		text-align: center;
		border-radius: 0.5rem;
		color: transparent;
		line-height: 1;
	}

	#color-mode:checked + label:after {
		color: var(--theme-bg);
	} */

	input[type='checkbox'] {
		opacity: 0.00001;
		position: absolute;
	}

	.color-scheme-wrapper {
		min-height: 100vh;
		background: var(--theme-bg);
		color: var(--theme-text);
		transition: background var(--theme-transition);
		transition: color var(--theme-transition);
	}

	.toggle {
		font-size: calc(0.5 * var(--font-size-sm)) !important;
		/* border: 0.125em solid currentColor; */
		border-radius: 2em;
		cursor: pointer;
		display: block;
		height: 2em;
		position: absolute;
		top: 1rem;
		right: 1rem;
		width: 3.75em;
		background: var(--theme-text);
		color: var(--theme-bg);
	}
	.toggle span {
		background-color: currentColor;
		border-radius: 2em;
		display: block;
		height: 1.5em;
		left: 0.25em;
		overflow: hidden;
		position: absolute;
		top: 0.25em;
		text-indent: -9999px;
		transition: left 0.25s;
		width: 1.5em;
		z-index: 2;
	}

	.toggle::before,
	.toggle::after {
		content: '';
		display: block;
		border-radius: 1em;
		position: absolute;
		z-index: 1;
	}

	.toggle::after {
		box-shadow: 0.25em 0.25em #5901d8;
		height: 1.125em;
		right: 0.9em;
		top: 0.125em;
		width: 1.125em;
	}

	.toggle::before {
		background-color: #ffc409;
		height: 0.625em;
		outline: 0.25em dotted #ffc409;
		outline-offset: 0.125em;
		left: 0.7em;
		top: 0.7em;
		width: 0.625em;
	}

	input:checked ~ .toggle span {
		left: 2em;
	}
</style>
