<input id="color-mode" type="checkbox" name="color-mode" />
<label for="color-mode" class="color-mode">
	<span class="dark-mode-hide">Dark Mode</span>
	<span class="light-mode-hide">Light Mode</span>
</label>

<style is:global>
	:root {
		--theme-bg: var(--clr-yellow);
		--theme-text: var(--clr-purple);

		--media-blend: var(--media-blend);
		--img-mix-blend: var(--img-mix-blend);
		--img-clr-overlay: var(--clr-purple);
		--img-clr-mix: color;

		--gradient-blend: var(--gradient-blend);
		--gradient-invert: var(--gradient-invert);
		--gradient: 255, 213, 97;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--theme-bg: var(--clr-purple);
			--theme-text: var(--clr-yellow);

			--media-blend: screen;
			--img-mix-blend: var(--img-mix-blend);
			--img-clr-overlay: var(--clr-purple);
			--img-clr-mix: color;

			--gradient-blend: multiply;
			--gradient-invert: none;
			--gradient: 57, 10, 87;
		}
	}

	#color-mode,
	label {
		position: fixed;
		z-index: 100;
	}

	#color-mode:checked ~ * {
		--theme-bg: var(--clr-purple);
		--theme-text: var(--clr-yellow);

		--media-blend: screen;
		--img-mix-blend: var(--img-mix-blend);
		--img-clr-overlay: var(--clr-purple);
		--img-clr-mix: color;

		--gradient-blend: multiply;
		--gradient-invert: none;
		--gradient: 57, 10, 87;
	}

	@media (prefers-color-scheme: dark) {
		#color-mode:checked ~ * {
			--theme-bg: var(--clr-yellow);
			--theme-text: var(--clr-purple);

			--media-blend: darken;
			--img-mix-blend: screen;
			--img-clr-overlay: var(--clr-purple);
			--img-clr-mix: color;

			--gradient: 0, 0, 0;
			--gradient-blend: screen;
			--gradient-invert: invert(100%);
		}
	}

	.light-mode-hide {
		display: none;
	}

	@media (prefers-color-scheme: dark) {
		.dark-mode-hide {
			display: none;
		}
	}

	@media (prefers-color-scheme: dark) {
		.light-mode-hide {
			display: initial;
		}
	}

	label {
		cursor: pointer;
		position: fixed;
		background: var(--theme-text);
		color: var(--theme-bg);
		padding: 0 0.475rem;
		top: var(--spacer-vw-margin);
		right: var(--spacer-vw-margin);
		display: flex;
		align-items: center;
		border-radius: 0.25rem;
		font-size: calc(0.5 * var(--font-size-sm)) !important;
		/* box-shadow:
      0 2px var(--theme-bg),
      0 4px var(--theme-text); */
		user-select: none;
		z-index: 100;
	}

	input[type='checkbox']:focus + label {
		outline: 2px dashed var(--theme-text);
		outline-offset: 4px;
	}

	label:active {
		transform: translateY(1px);
		box-shadow:
			0 1px var(--theme-bg),
			0 3px var(--theme-text);
	}

	label:after {
		content: '✔\FE0E';
		height: 0.5rem;
		width: 0.5rem;
		margin-left: 0.25rem;
		border: solid 2px var(--theme-bg);
		text-align: center;
		border-radius: 0.5rem;
		color: transparent;
		line-height: 1;
	}

	#color-mode:checked + label:after {
		color: var(--theme-bg);
	}

	input[type='checkbox'] {
		opacity: 0.00001;
		position: absolute;
	}

	.color-scheme-wrapper {
		min-height: 100vh;
		background: var(--theme-bg);
		color: var(--theme-text);
		transition: background var(--theme-transition);
		transition: color var(--theme-transition);
	}
</style>
