<input id="color-mode" type="checkbox" name="color-mode" />
<label for="color-mode" class="color-mode">
  <span class="dark-mode-hide">Dark Mode</span>
  <span class="light-mode-hide">Light Mode</span>
</label>

<style is:global>
  :root {
    --bg: var(--clr-yellow);
    --text: var(--clr-purple);
    --theme-blend: var(--theme-blend);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg: var(--clr-purple);
      --text: var(--clr-yellow);
      --theme-blend: multiply;
    }
  }

  #color-mode,
  label {
    position: fixed;
    /* top: 2rem;
    right: 2rem; */
    z-index: 100;
  }

  #color-mode:checked ~ * {
    --bg: var(--clr-purple);
    --text: var(--clr-yellow);
    --theme-blend: multiply;
  }

  @media (prefers-color-scheme: dark) {
    #color-mode:checked ~ * {
      --bg: var(--clr-yellow);
      --text: var(--clr-purple);
      --theme-blend: screen;
    }
  }

  .light-mode-hide {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    .dark-mode-hide {
      display: none;
    }
  }

  @media (prefers-color-scheme: dark) {
    .light-mode-hide {
      display: initial;
    }
  }

  label {
    cursor: pointer;
    position: fixed;
    background: var(--text);
    color: var(--bg);
    padding: 0 0.475rem;
    top: var(--spacer-vw-margin);
    right: var(--spacer-vw-margin);
    display: flex;
    align-items: center;
    border-radius: 12px;
    font-size: calc(0.5 * var(--text-sm)) !important;
    /* box-shadow:
      0 2px var(--bg),
      0 4px var(--text); */
    user-select: none;
    z-index: 100;
  }

  input[type="checkbox"]:focus + label {
    outline: 2px dashed var(--text);
    outline-offset: 4px;
  }

  label:active {
    transform: translateY(1px);
    box-shadow:
      0 1px var(--bg),
      0 3px var(--text);
  }

  label:after {
    content: "✔\FE0E";
    height: 0.5rem;
    width: 0.5rem;
    margin-left: 0.25rem;
    border: solid 2px var(--bg);
    text-align: center;
    border-radius: 4px;
    color: transparent;
    line-height: 1;
  }

  #color-mode:checked + label:after {
    color: var(--bg);
  }

  input[type="checkbox"] {
    opacity: 0.00001;
    position: absolute;
  }

  .color-scheme-wrapper {
    min-height: 100vh;
    background: var(--bg);
    color: var(--text);
    transition: background var(--theme-transition);
    transition: color var(--theme-transition);
  }
</style>
