<!-- <div id="grain"></div> -->
<style>
	#grain {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 900;
		overflow: hidden;
		mix-blend-mode: multiply;
	}
</style>

<script src="../../js/scripts.js"></script>
<script src="../../js/grained.js"></script>
